@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&display=swap');

$red: #ff6464;
$blue: #6464ff;
$green: #095256;
$yellow: #FED766;
$grey: #F8F8F8;
$black: #131316;
$margin: 40px;

body {
    margin: 0;
    font-family: 'Barlow';
    color: $black;
    background-color: $grey;
    width: 80vw;
    margin-left: 10vw;
}

a {
    color: $blue;
    text-decoration: none;
    font-style: italic;
}

.nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        color: $blue;

        span {
            color: $red;
        }
    }

    .links {
        display: flex;
        width: 200px;
        justify-content: space-between;
        font-weight: 500;
        font-size: 24px;
    }
}

.filters {
    width: 800px;
    margin: $margin auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        margin: 0;
        font-size: 20px;
    }

    select {
        outline: $blue;
    }

    button {
        padding: 10px 20px;
        font-family: 'Barlow';
        font-weight: 500;
        font-size: 15px;
        background-color: transparent;
        border: 1px solid $black;
        border-radius: 5px;
        margin-left: 10px;
        transition: .1s;

        &:hover, &:focus, &:visited {
            cursor: pointer;
            background-color: $blue;
            color: $grey
        }

        &:disabled {
            border: 1px solid #cccccc;

            &:hover {
                cursor: not-allowed;
                background-color: #cccccc;
                color: $black;
            }
        }
    }
}

.container {
    width: 80%;
    height: 60vh;
    margin-left: 10%;
    margin-bottom: $margin;
    display: flex;
    gap: 50px;
    
    .left-panel {
        width: 30%;
        border-top: 1px solid $black;
        border-bottom: 1px solid $black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
            font-weight: 500;
        }

        .time-graph {
            width: 100%;
            display: none;
            flex-direction: column;
            align-items: center;
        }
    }

    .graph {
        width: 50%;
        
        position: relative;

        svg {
            position: absolute;
            min-height: 25vw;
            margin-left: 50%;
            margin-top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .legend {
        width: 20%;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        .title {
            font-weight: bold;
        }

        .element {
            position: relative;
            padding: 10px 20px;
            font-size: 12px;
            
            &:nth-child(-n+4) {
                font-size: 15px;
            }

            .color {
                height: 100%;
                width: 10px;
                position: absolute;
                top: 0;
                left: 0;
            }

            .name {
                margin: 0;
            }

            .value {
                margin: 0;
            }
        }
    }
}

.source {
    float: right;
    margin: 0 10%;
}


#legend {
    width: 300px;
    height: 500px;
    overflow-y: scroll;
}

#legend .legendEl {
    border-bottom: 1px solid black;
    padding: 10px 10px 10px 20px;
    position: relative;
}

#legend .legendEl .color {
    background-color: red;
    height: 100%;
    width: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

#legend .legendEl p {
    margin: 0;
}

#legend .legendEl .value {
    font-size: .8rem;
}