.legend {
    width: 90vw;
    margin-left: 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.caption {
    display: flex;
    padding: 10px;
}

.caption div {
    width: 50px;
    height: 20px;
    background-color: red;
    border: 1px solid black;
}

.caption p {
    margin: 0 0 0 10px;
    font-size: 15px;
}